# Introduction to SQL

Here you can access the `books` table used in the course.

--- 
_Note: When using sample integrations such as those that contain course data, you have read-only access. You can run queries, but cannot make any changes such as adding, deleting, or modifying the data (e.g., creating tables, views, etc.)._

## Take Notes

Add notes about the concepts you've learned and SQL cells with queries you want to keep.

_Add your notes here_

In [ ]:
-- Add your own queries here
SELECT * 
FROM books

## Explore Datasets
Use the `books` table to explore the data and practice your skills!
- Select only the `title` column.
- Alias the `title` column as `book_title`.
- Select the distinct author names from the `author` column.
- Select all records from the table and limit your results to 10.